{% extends 'inicio.html' %}

{% load static %}

{% block title %}
Actualizar producto
{% endblock %}

{% block content %}

<!--<section id="pricing" class="pricing section light-background">
    <div class="container mt-5" style="margin-top: 50px;">        
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col-12 text-center">
                <h4>Productos</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-dark text-center">
                            <tr>
                                <th>Nro</th>
                                <th>Gondola</th>                                
                                <th class="w-75">Producto</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ producto.producto_gondola }}</td>
                                <td data-producto='{{ producto.producto_nombre }}'
                                    data-subcategoria='{{ producto.subcategoria.subcategoria_nombre }}'
                                    data-categoria='{{ producto.subcategoria.categoria.categoria_nombre }}'
                                    data-producto-id='{{ producto.producto_id }}'
                                    data-gondola='{{ producto.producto_gondola }}'>
                                    {{ producto.producto_nombre }}
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm actualiza_producto">Actualizar</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>-->

<section id="pricing" class="pricing section light-background">
    <div class="container mt-5" style="margin-top: 50px;">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-12 text-center">
                <h4>Productos</h4>
            </div>
        </div>

        <!--<div class="row mb-3">
            <div class="col-2 text-end">
                <strong>Gondola: </strong>
            </div>
            <div class="col-2">              
                <select name="gondola" class="form-select">
                    <option value="">Seleccione una góndola</option>
                    {% for gondola in gondolas %}
                        <option value="{{ gondola.producto_gondola }}">{{ gondola.producto_gondola }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>-->


        <div class="row mb-3">
            <div class="col-3 text-end">
                <strong>Góndola: </strong>
            </div>
            <div class="col-3">
                <select name="gondola" id="gondola-select" class="form-select">
                    <option value="">Seleccione una góndola</option>
                    {% for gondola in gondolas %}
                    <option value="{{ gondola.producto_gondola }}">{{ gondola.producto_gondola }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3 text-end">
                <strong>Total: </strong>
            </div>
            <div class="col-3">
                <p id="total">{{ total }}</p>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-dark text-center">
                            <tr>
                                <th>Gondola</th>
                                <th class="w-75">Producto</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td class="text-center">{{ producto.producto_gondola }}</td>
                                <td data-producto='{{ producto.producto_nombre }}'
                                    data-subcategoria='{{ producto.subcategoria.subcategoria_nombre }}'
                                    data-categoria='{{ producto.subcategoria.categoria.categoria_nombre }}'
                                    data-producto-id='{{ producto.producto_id }}'
                                    data-gondola='{{ producto.producto_gondola }}'>
                                    {{ producto.producto_nombre }}
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm actualiza_producto">Actualizar</button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">No hay productos disponibles.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->

        <!-- Contenedor donde se mostrarán los productos -->
        <div class="row">
            <div class="col-12">
                <!-- Tabla de productos -->
                <div id="productos-list">
                    {% include 'productos_table.html' %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Paginación -->
                <div id="pagination-container">
                    {% include 'paginacion.html' %}
                </div>
            </div>
        </div>

        <!-- Paginación -->
        <!--
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if productos.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ productos.previous_page_number }}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for num in productos.paginator.page_range %}
                        {% if productos.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > productos.number|add:-3 and num < productos.number|add:3 %} <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if productos.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ productos.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ productos.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    -->
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="actualizaProductoModal" tabindex="-1" aria-labelledby="actualizaProductoModalLabel"
    aria-hidden="true">
    <div id="mensaje-error" class="hide">Los campos son obligatorios.</div>
    <div class="modal-dialog modal-custom">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-primary text-white" style="height:10px;">
                <h5 class="modal-title2" id="actualizaProductoModalLabel" style=" color: #fff;">Actualizar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <!-- Producto -->
                <div class="row mb-1">
                    <div class="col text-center">
                        <strong class="h5 nombre-producto-actual">NOMBRE DEL PRODUCTO</strong>
                        <p id="ap_producto_nombre" class="nombre-producto-texto p-2 rounded"></p>
                    </div>
                </div>

                <!-- Vista previa Producto -->
                <div class="row mb-0">
                    <div class="col text-center">
                        <p id="ap_producto_nombre_upd" class="p-2 rounded text-producto-dinamico shadow-sm" style="margin-bottom: 8px;">
                            <!--<span id="ap_producto_placeholder" style="color: #888; font-weight: normal;">Vista previa
                                del producto ...</span>-->
                            <span id="ap_producto_placeholder" style="color: #555; font-weight: normal;">Vista previa ...</span>
                        </p>
                    </div>
                </div>

                <!-- Campos de actualización con fondo diferenciado -->
                <!--
                <div class="row mb-0" style="background-color: #f1f1f1; padding: 15px; border-radius: 8px;">
                    <div class="col-6 d-flex flex-column justify-content-center text-center">
                        <label for="ap_tipo" class="form-label">Tipo</label>
                        <input type="text" id="ap_tipo" name="tipo" class="form-control v-placeholder" placeholder="">
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center text-center">
                        <label for="ap_marca" class="form-label">Marca</label>
                        <input type="text" id="ap_marca" name="marca" class="form-control v-placeholder" placeholder="">
                    </div>
                </div>

                <div class="row mb-4"
                    style="background-color: #f1f1f1; padding: 0px 15px 15px 15px; border-radius: 8px;">
                    <div class="col-6 d-flex flex-column justify-content-center text-center">
                        <label for="ap_descripcion_corta" class="form-label">Descripción corta</label>
                        <input type="text" id="ap_descripcion_corta" name="descripcion"
                            class="form-control v-placeholder" placeholder="">
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center text-center">
                        <label for="ap_medida" class="form-label">Medida</label>
                        <input type="text" id="ap_medida" name="medida" class="form-control v-placeholder"
                            placeholder="">
                    </div>
                </div>
                -->

                <!-- Campos de actualización con fondo diferenciado -->
                <div class="container">
                    <div class="row mb-0"
                        style="background-color: #f1f1f1; padding: 15px 10px 15px 10px; border-radius: 8px;">
                        <div class="col-6 d-flex flex-column">
                            <label for="ap_tipo" class="form-label">Tipo</label>
                            <input type="text" id="ap_tipo" name="tipo" class="form-control" placeholder="">
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <label for="ap_marca" class="form-label">Marca</label>
                            <input type="text" id="ap_marca" name="marca" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="row mb-4"
                        style="background-color: #f1f1f1; padding: 15px 10px 15px 10px; border-radius: 8px;">
                        <div class="col-6 d-flex flex-column">
                            <label for="ap_descripcion_corta" class="form-label">Desc. corta</label>
                            <input type="text" id="ap_descripcion_corta" name="descripcion" class="form-control"
                                placeholder="">
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <label for="ap_medida" class="form-label">Medida</label>
                            <input type="text" id="ap_medida" name="medida" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>

                <!-- Información adicional -->
                <!--
                <div class="row mb-2">
                    <div class="col-4">
                        <strong>Gondola:</strong>
                    </div>
                    <div class="col-8">
                        <span id="ap_gondola"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <strong>Categoría:</strong>
                    </div>
                    <div class="col-8">
                        <span id="ap_categoria"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <strong>Sub Categoría:</strong>
                    </div>
                    <div class="col-8">
                        <span id="ap_subcategoria"></span>
                    </div>
                </div>-->

                <!-- Información adicional -->
                <div class="row mb-2">
                    <div class="col-4 text-end"><strong>Góndola:</strong></div>
                    <div class="col-8"><span id="ap_gondola"></span></div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 text-end"><strong>Categoría:</strong></div>
                    <div class="col-8"><span id="ap_categoria"></span></div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 text-end"><strong>Subcategoría:</strong></div>
                    <div class="col-8"><span id="ap_subcategoria"></span></div>
                </div>

            </div>

            <!-- 
            <div class="modal-footer justify-content-center">
               
                <button type="button" class="btn btn-light px-4 py-2 rounded-pill shadow-sm ms-3"
                    data-bs-dismiss="modal">
                    <i class="bi bi-x-lg"></i> Salir
                </button>
                
                <button type="button" class="btn btn-success px-4 py-2 rounded-pill shadow-sm" id="ap_aceptar">
                    <i class="bi bi-hand-thumbs-up-fill"></i> Aceptar
                </button>
            </div>
             -->

            <!-- Modal Footer -->
            <div class="modal-footer justify-content-center">
                <!-- Botón Cancelar con nuevo ícono -->
                <button type="button" class="btn btn-light px-4 py-2 rounded-pill shadow-sm ms-3"
                    data-bs-dismiss="modal">
                    <i class="bi bi-arrow-left"></i> Salir <!-- Flecha a la izquierda -->
                </button>
                <!-- Botón Aceptar con nuevo ícono -->
                <button type="button" class="btn btn-success px-4 py-2 rounded-pill shadow-sm" id="ap_aceptar">
                    <i class="bi bi-send"></i> Aceptar <!-- Flecha a la derecha -->
                </button>
            </div>

        </div>
    </div>
</div>

<div id="mensaje-exito" class="hide">El producto ha sido actualizado correctamente.</div>

<link href="{% static 'css/producto.css' %}" rel="stylesheet">
<script src="{% static 'js/cookie.js' %}"></script>
<script src="{% static 'js/producto.js' %}"></script>

{% endblock %}