.nombre-producto-actual {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444; /* Un tono gris más oscuro */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nombre-producto-texto {
    font-size: 1.1rem;
    color: #555;
    background-color: #e9ecef; /* Fondo gris claro */
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: normal;
    transition: all 0.3s ease;
}

/* Transición suave en el hover */
.nombre-producto-texto:hover {
    background-color: #dee2e6; /* Un poco más oscuro al pasar el mouse */
}


/* Estilo para el texto dinámico */
.text-producto-dinamico {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333;
    background-color: #fffae6; /* Fondo más claro */
    transition: all 0.3s ease; /* Transición suave para cambios */
}

/* Placeholder estilo */
#ap_producto_placeholder {
    font-style: italic;
    color: #bbb; /* Color más tenue */
}

/* Estilo cuando el texto de vista previa se actualiza */
.text-producto-dinamico.updated {
    background-color: #c3e6cb; /* Cambia el fondo temporalmente */
    color: #155724;
    border: 2px solid #28a745;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.4rem; /* Tamaño de letra más grande */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
}

/* Transiciones en los inputs */
input.form-control {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/*input.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.5); 
}*/

.text-producto-dinamico{
    font-size: 1.2em; 
    /*font-weight: bold; */
    font-weight: normal; 
    color: #000;    
  }
  
  .placeholder-nombre-producto{
    color: #555 !important; 
    font-weight: normal !important;
  }

/* mensaje parte inferior*/
#mensaje-exito {
    position: fixed;
    bottom: -100px; /* Empieza fuera de la vista */
    left: 0;
    width: 100%;
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    z-index: 1050; /* Asegura que el mensaje esté por encima del resto */
    transition: bottom 0.5s ease;
}

#mensaje-exito.show {
    bottom: 0; /* Desliza hacia arriba para mostrarse */
}

#mensaje-exito.hide {
    bottom: -100px; /* Desliza hacia abajo para ocultarse */
}

/* mensaje superior*/
#mensaje-error {
    position: fixed;
    top: -100px; /* Empieza fuera de la vista */
    left: 0;
    width: 100%;
    background-color: #ec3a0f;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    z-index: 1050; /* Asegura que el mensaje esté por encima del resto */
    transition: top 0.5s ease;
}

#mensaje-error.show {
    top: 0; /* Desliza hacia arriba para mostrarse */
}

#mensaje-error.hide {
    top: -100px; /* Desliza hacia abajo para ocultarse */
}

.alert-vista-previa{
    border: 2px solid #ec5f0f;
}

/* Clase para resaltar las celdas con un color de fondo */
.highlight-cell {
    /*background-color: #d4edda !important; */ /* Verde claro */
    background-color: #95f513 !important;
    transition: background-color 1s ease; /* Transición suave al aplicar */
}

/* Clase para restaurar el fondo original */
.restore-cell {
    background-color: transparent !important; /* Fondo original */
    transition: background-color 2s ease; /* Transición suave al restaurar */
}



/* Botón de acción */
.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn-icon i {
    margin-right: 4px; /* Espaciado entre el icono y el texto (si hay texto) */
}

.btn-icon:hover {
    background-color: #0056b3;
    color: #fff;
}

.tooltip-btn {
    position: relative;
}

/* Tooltip */
.tooltip-btn:hover::after {
    content: attr(title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 100;
}

/* Mejorar el feedback visual */
.btn:focus, .btn:active {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}